#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.css-dvtbgq-MuiDrawer-docked .MuiDrawer-paper{
  justify-content: center !important;
}

.cardGrid{
  justify-content: center !important;
  align-items: center !important;
  display: flex;
}

.css-1lt5qva-MuiCardContent-root{
  padding: 35px !important;
}

a{
  color: inherit !important;
  text-decoration: none !important;
}

.leftBar{
  font-size: 0.84em;
}

.css-b7dj7n-MuiList-root > li > h2 > a {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.css-b7dj7n-MuiList-root > li > h2 > a > svg {
  margin: 5px;
}

.css-4j4xdv-MuiDrawer-docked .MuiDrawer-paper{
  background-color: #e3e8f1;
}

.css-9e3g64-MuiDrawer-docked .MuiDrawer-paper >div > h2 {
  text-align: left !important;
  margin-left: 10px;
}

.css-aqqmce-MuiDrawer-docked .MuiDrawer-paper > h2{
  text-align: left !important;
  margin-left: 10px;
}

.css-hcmlca-MuiDrawer-docked .MuiDrawer-paper{
  justify-content: center !important;
}

.css-11n7drg-MuiPaper-root-MuiDrawer-paper{
  border-left: 0 !important;
}

.topBar > div > div {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}

.topBar > div > div > div > * {
  margin: 0 15px;
}